.grid,
.grid-body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

.grid-left {
  order: -1;
}

.grid-left, .grid-mid, .grid-right {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .grid-body {
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .grid-left, .grid-mid, .grid-right {
    flex: 1;
  }
}