// PocketFives Colors

// --  Grayscale  -- // 
$pf-nav-white: #FFFFFF;
$pf-subnav-backdrop: #F5F5F5;
$pf-alto-light: #D8D8D8;
$pf-alto-heavy: #E0E0E0;
$pf-mercury-light: #E4E4E4;
$pf-mercury-heavy: #E6E6E6;
$pf-dusty-gray: #9B9B9B;
$pf-active-gray: #888888;
$pf-bottom-nav: #848484;
$pf-dove-gray: #6C6C6C;
$pf-emperor: #545454;
$pf-tundora: #4A4A4A;
$pf-mine-shaft: #333333;
$pf-nav-black: #000000;

// --  Blues  -- // 
$pf-pigeon-post: #D4DEE8;
$pf-top-nav-blue: #AAC2DC;
$pf-lochmara: #0582B8;
$pf-havelock-blue: #4A90E2;
$pf-boston-blue: #3778C3;
$pf-facebook-blue: #1877F2;
$pf-input-focus-blue: #007AFF;
$pf-endeavour: #0452AA;
$pf-blue-gem: #3B0B90;
$pf-oxford-blue: #3C4657;

// --  Greens  -- // 
$pf-success: #02A300;
$pf-jungle-green: #28998A;
$pf-watercourse: #066663;

// --  Reds  -- // 
$pf-pink: #E2999B;
$pf-flush-mahogany: #C6363A;
$pf-valencia: #D73737;
$pf-old-brick: #921B2F;

// --  Yellows  -- // 
$pf-old-gold: #D5CB2D;
$pf-corn: #D5CD06;

// Opacity variations
$pf-gray-opac: rgba(245,245,245,0.75);
$pf-footer: rgba(4, 82, 170, 0.38);
$pf-blue-opac: rgba(5,130,184,0.6);
$pf-emperor-opac: rgba(84,84,84,0.6);
$pf-subnav-divider: rgba(60,70,87,0.21);
$pf-input-grey: rgba(0,0,0,0.25);
