@import 'main';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:active,
button:focus,
.btn:active,
.btn:focus {
  outline: none !important;
  outline-offset: none !important;
}